// --------------------------------------------------
// Fonts
// --------------------------------------------------

@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-regular-webfont.woff') format('woff');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-medium-webfont.woff') format('woff');

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-mediumitalic-webfont.woff') format('woff');

  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src:  url('../../fonts/Muller-bold-italic-webfont.woff2') format('woff2'),
  url('../../fonts/Muller-bold-italic-webfont.woff') format('woff');

  font-weight: 700;
  font-style: italic;
  font-display: swap;
}