.footer {
  z-index: 3;

  position: relative;
  overflow: hidden;

  background-color: color('footer', 'main');
}

.footer__inner {
  @include inner;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 47px;
  padding-left: 36px;
  padding-right: 36px;
}

.copyright {
  margin-right: 6%;

  @include paragraph($size: 1.875rem, $weight: $medium, $color: $accent);
}

.footer__logo {
  img {
    max-width: 400px;
    max-height: 67px;
    width: 22vw;
    min-width: 356px;
    min-height: 60px;
  }
}