.section-vote {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;

  h1 {
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;

    .btn--close {
      position: relative;
      top: auto;
      right: auto;

      margin-left: 20px;
    }
  }

  h3 {
    @include title;
  }

  p {
    font-size: 1.125rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.section-vote__inner {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 50%;
}

.section-vote__inner--center {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.section-vote__btn {
  position: relative;

  width: 100%;
  padding-right: 50px;
  padding-left: 40px;
}

.section-vote__btn:not(:last-child) {
  margin-bottom: 25px;
}

.section-vote__vote {
  //position: absolute;
  //bottom: -40px;
  opacity: 0;
  transform: scale(0);
  transition: opacity .3s, transform .3s;

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.section-vote__count {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: 1px;

  font-size: 1.125rem;

  transform: translateY(-50%);
}

@media screen and (max-width: 1600px) {
  .section-vote__inner {
    width: 50%;
  }
}