.settings {
  width: 100%;
  margin-bottom: 81px;

  h1 {
    width: 100%;
    padding-left: 25px;
  }

  h2 {
    padding-left: 30px;
    margin-bottom: 10px;

    @include paragraph($weight: $medium, $size: 1.875rem, $color: $main);
    font-style: normal;
  }
}

.settings__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

.settings__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;

  input[type=text],
  input[type=password] {
    min-width: 430px;
    margin-bottom: 12px;
    padding: 14px 30px;
    padding-right: 35px;

    @include paragraph($weight: $medium, $size: 1.875rem, $color: $accent);

    border: 3px solid $accent;
    border-radius: 47px;
    outline: none;

    @include placeholder {
      @include paragraph($weight: $medium, $size: 1.875rem, $color: rgba(81, 81, 81, .36));
    }

    background: url('/images/icon-pencil.svg') no-repeat 98% 50%;
    background-size: 30px 30px;
  }
}

.settings--password {
  h2 {
    margin-right: auto;
  }

  .settings__item label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    &:not(:last-of-type) {
      margin-bottom: 37px;
    }
  }
}

.settings__btn {
  margin-bottom: 183px;
}

@media screen and (max-width: 1920px){
  .settings__inner {
    justify-content: center;
  }

  .settings--password {
    .settings__inner {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 1600px) {
  .settings__btn {
    margin-bottom: 97px;
  }

  .settings__item {
    margin-left: 15px;
    margin-right: 15px;
  }

  .settings {
    input[type=text],
    input[type=password] {
      min-width: 390px;
    }

    h1 {
      padding-left: 15px;
    }
  }

  .settings__inner {
    margin-left: -15px;
    margin-right: -15px;
  }

  .settings--password {
    .settings__inner {
      justify-content: center;
    }
  }

  .settings--editor {
    input[type=text],
    input[type=password] {
      min-width: auto;
    }
  }
}